body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: start;
}

nav{
    margin-top: 40px;
}

.headerback-lg{
    top: 10px;
}
.headerback{
    top: 5px;
}

.dbutton {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.first_button {
    padding: 2rem;
    width: 49%;
    margin: 0;
    background: #1A4D70;
    color: #fff;
    height: unset;
}

.second_button {
    padding: 2rem;
    width: 49%;
    margin: 0;
    background: #F9572B;
    color: #fff;
    height: unset;
}

.plc {
    text-align: center;
    font-size: 2.6rem;
    height: unset;
    margin: 10rem 30rem;
    color:#1A4D70;
}

main {
    background: var(--background-secondary);
}

main fieldset,
main form button {
    border-radius: none;
    border-color:#1A4D70;
}

main form * {
    margin: 3px 6px;
}

main form:last-of-type ul {
    max-width: 50rem;
    margin: 100px auto;
    display: flex;
    flex-basis: fill;
    flex-wrap: wrap;
}

main form:last-of-type li {
    display: flex;
    justify-content: space-between;
}

li {
    width: 100%;
}

main form:last-of-type li:nth-of-type(even) {
    color:#1A4D70;
}

main form:last-of-type li:nth-of-type(odd) {
    color: #D8D8D8;
    background-color: grey;
}

input:not([type="radio"]),
select {
    padding: 5px
}

input:focus+label {
    transition: transform 300ms;
}

legend{
    text-align: center;
}

input:focus+label {
    color: #F9572B !important;
    border-radius: 4px;
    transition: border 300ms;
}

input[type="radio"]:focus+label {
    font-weight: 600;
}

input[required]+label {
    color: red;
}

input{
    border-radius: 4px;
    border: 2px solid;
    border-color:#1A4D70;
}

legend{
    color: #1A4D70;
}

dt::first-letter {
    font-size: 4rem;
    color:#F9572B;
    font-weight: 600;
}

dd::after {
    content: "🛈";
}

form {
    margin: 20rem 30rem 10rem 30rem;
    font-size: 2.2rem;
    height: unset;
    font-weight: 500;
}

.footer_stl:hover {
    transform: rotate(30deg) scale(1.5) skew(20deg);
    transition: transform 300ms;
}

main form:last-of-type input:checked+label {
    text-decoration: line-through;
}



