:root {
    font-size: 62.5%;
    --text-primary: #1A4D70;
    --text-secondary: white;
    --color-orange: #F9572B;
    --color-grey-soft: #EFEFEF;
    --color---grey-hard: #777;
    --color----Blue: #1A4D70;
    --color--Grey-medium: #D8D8D8;
    font-family: Roboto, "sans-serif", Helvetica;
}

/* roboto-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-cyrillic_latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    visibility: hidden;
}

*:focus{
    outline: var(--color-orange) solid 2px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.h2main {
    text-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.25);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-secondary)
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
}

.wrapper22 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 40px;
}

.previewzag {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    justify-content: center;
    width: 342px;
    gap: 4px;
    flex-direction: column;
}

.previewstation {
    margin-top: 40px;
    margin-bottom: 36px;
}

.prmailmain {
    margin-top: 116px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}

.prmailback {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.prmailgraphic {
    position: absolute;
    top: -110px;
    left: -51px;

}

.p1mg {
    margin-bottom: 6px;
}

.previewmail {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.conts {
    width: calc(100% - 81px);
}


.smicon {
    width: 32px;
    height: 32px;
}

.smrkryg {
    width: 58px;
    height: 58px;
}

h3 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-primary)
}

h2 {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-secondary)
}

.h2b {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-primary);
}

.podzag900 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-secondary)
}

.podzag900b {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-primary)
}

.podzag500 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-primary)
}

.podzag500w {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-secondary)
}

.opismall {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-primary)
}

.opismallw {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    color: var(--text-secondary)
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

header {
    position: relative;
}

.headerback {
    position: absolute;
    top: -20px;
    z-index: 1;
}

.wrapperheader {
    max-width: 40rem;
    margin: 0 auto;

}

.logo {
    background: transparent;
    border: none;
    margin-left: 2.4rem;
}

.burger {
    background: transparent;
    border: none;
    margin-right: 24px;
    margin-bottom: 15px;
}

.ordercall {
    background-color: var(--color-orange);
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: normal;
    color: #EFEFEF;
    width: 207px;
    height: 43px;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.preview {
    background-image: url("./imgs2/saharapreview.jpg");
    overflow-y: hidden;
    background-size: 1956px 801px;
    background-repeat: no-repeat;
    background-position-y: -106%;
    background-position-x: 59.8%;
    overflow-x: hidden;
    position: relative;
}

.aboutcompany {
    background-color: var(--color-grey-soft);
}

.aboutcompanywrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 40rem;
    margin: 0 auto;
}

.bumpabout {
    width: 100%;
    height: 242px;
    padding-left: 24px;
    object-fit: cover;
    object-position: -115px;
}

.ourequipment {
    background-color: white;
}

.ourequipmentwrapper {
    margin-top: 80px;
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 40rem;
    margin: 0 auto;
}

.toolkitmain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background-size: contain;
    padding-right: 24px;
    padding-left: 24px;
}

.toolkits {
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background-color: white;
}

.toolkitslast {
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background-color: white;
    margin-bottom: -40%;
}

.ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.podzagbenf {
    /* Roboto Bold 24 */
    font-family: Roboto;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-primary);
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.gapp16 {
    gap: 1.6rem;
}

.ourequipline {
    background-color: var(--color-grey-soft);
    max-height: 51px;
    margin-bottom: 48px;
    display: block;
    max-width: 100%;
    gap: 25px;
    overflow: scroll;
}

.ourequiph2 {
    margin-top: 80px;
    margin-bottom: 32px;
    width: 342px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ourequiph3 {
    margin-left: 24px;
    font-family: Roboto;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ourequiptext {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 25px;
    margin-right: 32px;
}

.ourequipbutton {
    background-color: var(--color-orange);
    border: none;
    width: 138px;
    height: 51px;
    margin-left: 25px;
    font-family: 'Roboto';
    padding: 16px 18px 16px 18px;

}

.ourequipbutton2 {
    background-color: var(--color-grey-soft);
    border: none;
    width: 138px;
    height: 51px;
    font-family: 'Roboto';
    padding: 16px 18px 16px 18px;
}

.mrgleft24 {
    margin-left: 24px;
    margin-bottom: 40px;
}

.oqslidermain {
    display: flex;
    flex-direction: row;
    gap: 9px;
    justify-content: center;
}

.ourequipslider1 {
    border: none;
    background-color: var(--color-orange);
    border-radius: 8px;
    width: 36px;
    height: 6px;
}

.ourequipslider {
    border: none;
    background-color: var(--color-grey-soft);
    border-radius: 8px;
    width: 36px;
    height: 6px;
}

.orangeline {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.orangeline2 {
    margin-bottom: 3.2rem;
}

.abctext {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}

.abcsignsmain {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    margin-top: 32px;
}

.aboutcompanysigns {
    margin-left: 9rem;
}

.aboutcompanysignstext {
    margin-left: 92px;
    width: 20rem;
}

.ourbenefitswrapper {
    padding-top: 40px;
    max-width: 40rem;
    margin: 0 auto;
}

.h2benefits {
    width: 342px;
    height: 82px;
    margin-bottom: 32px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

.ourbenefits {
    background: url(./imgs2/ourbenefitsback.jpg);
    background-size: 1920px 583px;
    background-repeat: no-repeat;
    background-position-x: 50.5%;
    background-position-y: -3%;
    background-color: var(--color----Blue);
}

.customers {
    padding-top: 40px;
}

.customersh2 {
    margin-top: 333.5px;
}

.customerssection {
    position: relative;
    max-width: 40rem;
    margin: 0 auto;
}

.customersmini {
    position: absolute;
    z-index: -1;
    top: 58.5px;
}

.consultationwrapper {
    padding-top: 40px;
    max-width: 40rem;
    margin: 0 auto;
    position: relative;
}

.graphicconsult {
    position: absolute;
    bottom: -81px;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.padul {
    padding-left: 0;
}

.mrgup40 {
    padding-top: 40px;
    ;
}

.zakazpics {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.6rem;
}

.stis {
    margin-bottom: 8rem;
}

.centertext {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.2rem;
}

.consultation {
    background-image: url(./imgs2/consultationback.jpg);
    padding-bottom: 80px;
    background-size: cover;
    background-position-x: 50%;
}

.consulth2 {
    width: 34.2rem;
    height: 25.2rem;
}

.rumap {
    width: 362px;
    height: 186.819px;
    margin-left: 15px;
    margin-right: 15px;
}

.rumaplist {
    list-style-type: disc;
}

.rumapdiv {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    justify-content: center;
    gap: 66px;
    width: 350px;
    height: 57px;
    margin-bottom: 40px;
    margin-top: 17px;
}

.rumapul {}

.labelmargin {
    margin: 0;
}

.sumbit1 {
    background-color: var(--color-orange);
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: normal;
    color: #EFEFEF;
    width: 207px;
    height: 43px;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 40px;
}

.blockm {
    display: block;
}

.contactswrapper {
    padding-top: 40px;
    max-width: 40rem;
    margin: 0 auto;
}


.formplacing {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 24px;
    gap: 4px;
}

.formsmall {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-secondary);
}

.formdivmain {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 53px;
    margin-bottom: 8px;
}


.left24 {
    margin-left: 24px;
    margin-right: 25px;
}


.labelblock {
    display: block;
}

.formrazm {
    width: 342px;
    height: 43px;
    padding: 12px 40px;
    gap: 10px;
    border: none;
    border-radius: 4px;
}


.objectswrapper {
    padding-top: 40px;
    max-width: 40rem;
    margin: 0 auto;
}

.contacts {
    background: url(./imgs2/contactsback.jpg);
    background-size: 1920px 583px;
    background-repeat: no-repeat;
    background-position-x: 50.5%;
    background-position-y: -3%;
    background-color: var(--color----Blue);
}

.footer1 {
    background-color: var(--color----Blue);
}

.sumbitdown {
    background-color: var(--color-orange);
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: normal;
    color: #EFEFEF;
    text-align: center;
    width: 161px;
    height: 43px;
    padding: 12px 40px 12px 40px;
    margin: 40px auto 40px 24px;
}

.sumbdowndiv {
    margin-left: 2.4rem;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.centertext2 {
    display: flex;
    justify-content: center;
}

.contlargeboxes {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    margin-top: 3.2rem;
}

.orangebox {
    background-color: var(--color-orange);
    width: 34.2rem;
    height: 32.5rem;
    padding-left: 3.2rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.greybox {
    background-color: var(--color---grey-hard);
    width: 342px;
    height: 112px;
    padding: 32px 32px 32px 32px;
}

.greyboxtext {
    opacity: 0.8;
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}

.orngtextmrg {
    margin-top: 0.4rem;
    margin-bottom: 2.4rem;
    padding: 0;
}

.orngtextpodzag {
    margin-top: 1.2rem;
    margin-bottom: 0;
}

.formplacing2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 24px;
    gap: 4px;
    margin-top: 24px;
}

.formdivmain2 {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.formp2 {
    margin-left: 24px;
    margin-right: 24px;
}

.formdownp {
    font-family: Roboto;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
}

.commentinput {
    width: 342px;
    height: 180px;
    margin-left: 24px;
    border-radius: 4px;
    border: none;
}

.commentlabel {
    margin-left: 24px;
    margin-bottom: 4px;
    margin-top: 24px;
}

.footerdiv {
    display: flex;
    flex-direction: row;
    padding: 20px 24px 36px 24px;
    gap: 140px;
}

.footervector {
    margin-left: 24px;
    margin-right: 24px;
}

.footerwrapper {
    margin: 0 auto;
    max-width: 40rem;
}

.anone {
    text-decoration: none;
    opacity: 1;
}

.sm-hidden {
    display: none;
}



@media screen and (min-width: 1250px) {
    .div-for-graphic {
        background-image: url(./imgs2/graphicbig.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0px;
        content: "";
        left: 0;
        right: 0;
        height: 196px;
    }

    .wrapper {
        max-width: 200rem;
        max-height: 90rem;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lg-mini-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    .wrapper22 {
        max-width: 100rem;
    }

    .lg-hidden {
        display: none;
    }

    .href-header-namings {
        font-family: 'Roboto';
        background: transparent;
        border: none;
        padding: 0;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--text-primary);
        margin-top: 12px;
        margin-right: 24px;
        height: 19px;
        text-decoration: none;
    }

    .logo {
        width: 244px;
        height: 68px;
        margin-right: 23.8rem;
        margin-left: 0px;
    }

    .wrapperheader {
        max-width: 125rem;
        margin: 0 auto;
        background: transparent;
    }

    .sm-hidden {
        display: initial;
    }

    nav {
        margin-top: 31px;
        margin-left: 20px;
        justify-content: initial;
        background: transparent;
        position: relative;
    }

    nav p {
        margin-top: 12px;
        margin-right: 24px;
        height: 19px;
    }

    header {
        background: transparent;
    }

    .headerback-lg {
        position: absolute;
        z-index: 1;
        left: 0;
        top: -30px;
        width: 100%;
        height: 199px;
    }

    .podzag900o {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        color: var(--color-orange);
    }

    .header-oline {
        position: absolute;
        left: 482px;
        top: 38px;
        width: 90px;
    }

    .preview {
        background-image: url("./imgs2/saharapreview.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: -100px;
        background-position-y: -100px;
        position: relative;
    }

    .previewzag {
        background: transparent;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .lg-maindiv {
        max-width: 200rem;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        margin-top: 200px;
        padding-bottom: 17px;
        justify-content: center;

    }

    .lg-maindiv2 {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        height: 392px;
        gap: 250px;
        overflow-x: visible;
        overflow-y: hidden;
    }

    .previewstation2 {
        width: 592px;
        height: 392px;
    }

    .lg-smallguy1 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 46px;
        overflow: visible;
    }

    .arrowbutton1 {
        border: none;
        background: transparent;
        margin-right: 64px;
    }

    .arrowbutton2 {
        border: none;
        background: transparent;
        margin-left: 85px;
    }

    .h2main {
        font-size: 4.8rem;
        width: 515px;
        height: 169px;
    }

    .podzag500w2 {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: var(--text-secondary);
        width: 515px;
        height: 32px;
    }

    .prmailmain {
        display: flex;
        flex-direction: row;
        gap: 68px;
        justify-content: center;
        align-items: center;
        margin-bottom: 77px;
        margin-left: 120px;
        margin-top: 101px;
    }

    .previewmail {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
    }

    .centsvg {
        display: flex;
        justify-content: center;
    }

    .abc-lg-div1 {
        display: flex;
        flex-direction: column;
        gap: 36px;
        margin-left: 360px;
    }

    .abc-lg-div2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .bumpabout222 {
        object-fit: cover;
        height: 526px;
    }

    .abcsignsmain {
        display: flex;
        flex-direction: row;
        gap: 60px;
        margin-top: 6px;
    }

    .abctext {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 633px;
        margin-left: 0;
        margin-right: 0;
    }

    .aboutcompanysigns {
        margin-left: 0;
    }

    .aboutcompanysignstext {
        margin-left: 0;
    }

    .abc-lg-divmain {
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        padding-bottom: 89px;
    }

    .ourequipline-lg {
        background-color: var(--color-grey-soft);
        max-height: 51px;
        margin-bottom: 48px;
        display: flex;
        width: 1200px;
        gap: 25px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .ourequiph3 {
        margin-left: 0;
        font-family: Roboto;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .oeq-lg-div1 {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 49px;
        padding-bottom: 69px;
        margin-right: 118px;
    }

    .ourequiptext {
        display: flex;
        flex-direction: column;
        width: 508px;
        gap: 24px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
    }

    .oeq-lg-divmain {
        display: flex;
        flex-direction: row;
        margin-top: 80px;
        margin-bottom: 68px;
        justify-content: center;
        margin-left: 130px;
    }

    .oqslidermain3 {
        display: flex;
        flex-direction: row;
        gap: 9px;
        background: transparent;
        justify-content: center;
        margin-top: 50px;
    }

    .oeqbump {
        width: 414px;
        height: 322px;
        margin-left: 72px;
        margin-right: 72px;
    }

    .arrowbutton3 {
        padding: 0;
        border: none;
        background: transparent;
        margin: 0;
    }

    .arrowbutton4 {
        border: none;
        background: transparent;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .ourbenefitswrapper {
        padding-top: 40px;
        max-width: 400rem;
        margin: 0 auto;
        background: none;
    }

    .toolkitmain2 {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: center;
    }

    .toolkitslast2 {
        width: 384px;
        height: 445px;
        padding: 32px;
        flex-direction: column;
        border-radius: 8px;
        background-color: white;
        margin-bottom: -87px;
    }

    .h2benefits2 {
        margin-bottom: 32px;
        text-align: center;
        padding-top: 100px;
    }

    .line-toolkits-lg {
        margin-bottom: 4.8rem;
    }

    .ourbenefits {
        background: url(./imgs2/ourbenefitsback.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 0px;
        background-position-y: 0px;
        background-color: none;
    }

    .customerssection {
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    .customersmini {
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        margin: 0;
        width: 100%;
    }

    .zakazpics {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .zakazpicsmain {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 99px;
        margin-top: 48px;
        margin-bottom: 60px;
    }

    .customersh2-lg {
        display: block;
        text-align: center;
        padding-top: 256px;
    }

    .customers-line-lg {
        display: flex;
        justify-content: center;
        margin-top: 3.2rem;
    }

    .stis {
        margin-top: 35px;
    }

    .mega {
        margin-top: 36px;
    }

    .consultationwrapper {
        padding-top: 0px;
        max-width: 100rem;
        margin: 0 auto;
        position: relative;
    }

    .consulth2 {
        width: 1200px;
        height: auto;
        padding-top: 100px;
    }

    .formdivmain {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .formplacing {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 0px;
        gap: 4px;
    }

    .formrazm {
        width: 470px;
        height: 43px;
        padding: 12px 40px;
        gap: 10px;
        border: none;
        border-radius: 4px;
    }

    .comm-cons-lg {
        display: block;
        width: 470px;
        margin: 0 auto;
    }

    .ourequipmentwrapper {
        margin-top: 80px;
        padding-top: 48px;
        padding-bottom: 48px;
        max-width: 100rem;
        margin: 0 auto;
    }


    .graphicconsult-lg {
        position: absolute;
        bottom: -126px;
        width: 100%;
    }

    .sumbit1 {
        background-color: var(--color-orange);
        border: none;
        border-radius: 4px;
        font-size: 1.6rem;
        font-style: normal;
        font-family: 'Roboto';
        font-weight: 500;
        line-height: normal;
        color: #EFEFEF;
        width: 207px;
        height: 43px;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .objectswrapper2 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 50rem;
        align-items: center;
        justify-content: center;
    }

    .rumap-lg {
        width: 1182px;
        height: 610px;
        display: flex;
        justify-content: center;
        margin-bottom: 89px;
    }

    .h2benefits-lg {
        margin-top: 16px;
        margin-bottom: 32px;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
    }

    .contactsback-lg {
        display: flex;
        padding: 60px;
        padding-right: 141px;
        border-radius: 8px;
        background: white;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        background: white;
        gap: 40px;
        margin-top: 46px;
    }

    .cont-forms-lgmain {}

    .formdivmain22 {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        padding-top: 30px;
    }

    .mini-div-contacts {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .formrazm22 {
        width: 100%;
        padding: 12px 40px;
        height: 43px;
        border-radius: 4px;
        border: 1px solid;
        border-color: var(--color--Grey-medium);
    }

    .contacts {
        background: url(./imgs2/contactsback.jpg);
        background-size: 1920px 583px;
        background-repeat: no-repeat;
        background-position-x: 50.5%;
        background-color: var(--color----Blue);
        position: relative;
        z-index: 3;
        padding-top: 80px;
    }

    .big-lg-contacts {
        width: 100%;
        max-width: 1248px;
        margin: 0 auto;
        padding: 0 24px;
        position: relative;
        z-index: 3;
    }

    .blockm {
        color: var(--text-primary)
    }

    .formdownp {
        color: var(--text-primary);
        margin-left: 0px;
    }

    .commentinput22 {
        display: block;
        width: 100%;
        height: 130px;
        border: 1px solid;
        border-color: var(--color--Grey-medium);
        border-radius: 8px;
    }

    .commentlabel {
        margin-left: 0px;
        margin-bottom: 4px;
        margin-top: 24px;
    }

    .formplacing2 {
        margin-left: 0px;
        width: 100%;
    }

    .orangebox {
        flex: 1 0 auto;
    }

    .greybox {
        flex: 1 0 auto;
    }

    .sumbitdown {
        margin-left: 0;
        margin-bottom: 0;
    }

    .formdivmain22 .podzag900b {
        font-family: Roboto;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .footerdiv {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1248px;
        margin: 0 auto;
        padding-top: 32px;
        gap: 0;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .text1-1-1{
        text-align: center;
        margin-bottom: 3.2rem;
        margin-top: 0px;
    }
}