:root {
    font-size: 62.5%;
    --text-primary: #1A4D70;
    --text-secondary: white;
    --color-orange: #F9572B;
    --color-grey-soft: #EFEFEF;
    --color---grey-hard: #777;
    --color----Blue: #1A4D70;
    font-family: Roboto, "sans-serif", Helvetica;
}

/* roboto-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-cyrillic_latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-900 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-cyrillic_latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h1 {
    visibility: hidden;
}

.h2main {
    text-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.25);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-secondary)
}

h3 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-primary)
}

h2 {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-secondary)
}

.h2b {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-primary)
}

.podzag900 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-secondary)
}

.podzag900b {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-primary)
}

.podzag500 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-primary)
}

.podzag500w {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-secondary)
}

.opismall {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-primary)
}

.opismallw {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    color: var(--text-secondary)
}

.formsmall {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-secondary)
}

.flex {
    display: flex;
}

.logo{
    background: transparent;
    border: none;
    margin-left: 2.4rem;
}

.burger {
    margin-left: auto;
    background: transparent;
    border: none;
}

.ordercall {
    background-color: var(--color-orange);
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: normal;
    color: #EFEFEF;
}

.preview {
    background-image: url("./imgs2/saharapreview.png");
    background-size: cover;
}

.aboutcompany{
    background-color: var(--color-grey-soft);
}

.ourequipment{
    background-color: white;
}

.toolkitmain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self:stretch;
    background-size: contain;
    padding-right: 24px;
    padding-left:24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.toolkits{
    padding:32px;
    flex-direction: column;
    align-items: flex-start;
    align-self:stretch;
    border-radius:8px;
    background-color: white;
}

.ul, ol, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ourbenefits{
    background-color: var(--color----Blue);
    justify-content: space-around;
    margin: 0 auto;
}

.podzagbenf{
    /* Roboto Bold 24 */
    font-family: Roboto;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-primary);
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.gapp16{
    gap:1.6rem;
}

.ourequipline{
    background-color: var(--color-grey-soft);
    overflow-x: hidden;
    max-height: 5.1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.ourequipbutton{
    background-color: var(--color-orange);
    border: none;
    overflow-x: hidden;
    width: 13.8rem;
    height: 5.1rem;
    margin-left: 2.4rem;
    font-family: 'Roboto';
}

.orangeline{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.orangeline2{
    margin-bottom: 3.2rem;
}

.aboutcompanysigns{
    margin-left: 9rem;
}

.aboutcompanysignstext{
    margin-left: 9rem;
    height: 3.8rem;
    width: 20rem;
}

.mrgleft24{
    margin-left: 2.4rem;
}

.mrgleft124{
    margin-left: 11.9rem;
}

.center{
    display: flex;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.padul{
    padding-left: 0;
}

.mrgup40{
    margin-top: 4rem;
}
.zakazpics{
    display: flex;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5.6rem;
}

.stis{
    margin-bottom: 8rem;
}
.centertext{
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3.2rem;
}

.consultation{
    background-image:url(./imgs2/consultation-backround.png);
    padding-bottom: 8rem;
}

.consulth2{
    width: 34.2rem;
    height: 25.2rem;
}

.rumap{
    width: 39.2rem;
    height: auto;
}

.rumaplist{
    list-style-type: disc;
}

.rumapdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:0.8rem;
    margin-left: 2rem;
    width: 120rem;
}
.rumapul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.labelmargin{
    margin: 0;
}

.sumbit1{
    background-color: var(--color-orange);
    border: none;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #EFEFEF;
    justify-content: center;
    border-radius: 4px;
    font-family: 'Roboto';
}

.blockm{
    display: block;
}


.formplacing{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2.4rem;
}

.left24{
    margin-left: 2.4rem;
}

.formrazm{
    width: 342px;
    height: 43px;
    padding: 12px 40px;
    gap: 10px;
    border: none;
    border-radius: 4px;
}

.contacts{
    background-image: url(./imgs2/contactsbackground.png);
}

.footer1{
    background-color: var(--color----Blue);
}

.sumbitdown{
    background-color: var(--color-orange);
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: normal;
    color: #EFEFEF;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 16.1rem;
    height: 4.3rem;
}

.sumbdowndiv{
    margin-left: 2.4rem;
    margin-top: 4rem;
    padding-bottom: 4rem;
}

.centertext2{
    display: flex;
    justify-content: center;
}

.contlargeboxes{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    margin-top: 3.2rem;
}

.orangebox{
    background-color: var(--color-orange);
    width: 34.2rem;
    height: 32.5rem;
    padding-left: 3.2rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
}

.orngtextmrg{
    margin-top: 0.4rem;
    margin-bottom: 2.4rem;
    padding: 0;
}

.orngtextpodzag{
    margin-top: 1.2rem;
    margin-bottom: 0;
}