:root {
    font-size: 62.5%;
    --text-primary: #1A4D70;
    --text-secondary: #000000;
    --color-orange: #F9572B;
    --color-grey-soft: #EFEFEF;
    --color---grey-hard: #777;
    font-family: Roboto, "sans-serif", Helvetica;
}

/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


  h1 {
    visibility: hidden;
}

.h2main {
    text-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.25);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    color: var(--text-secondary)
}

h3 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-primary)
}

h2 {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-secondary)
}

.h2b {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-primary)
}

.podzag900 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-secondary)
}

.podzag900b {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: var(--text-primary)
}
.podzag500 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-primary)
}

.podzag500w {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-secondary)
}

.opismall {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--text-primary)
}

.opismallw {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    color: var(--text-secondary)
}

.formsmall {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:var(--text-secondary)
}